@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Train+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

#text-link {
  color: white;
}
.nav-link {
  display: block;
  font-size: 1.5rem;
}

#text-link:hover {
  color: cyan;
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 10px #66ffff;
  text-decoration: none;
}

.bg-myGray {
  background-color: #212529;
}

#navbar {
  font-family: "Bebas Neue", cursive;
  font-size: 18px;
  /* padding: 8px 15px; */
}

#logo {
  animation: spin 5s infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotateY(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotateY(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
