.container {
  display: flex;
  flex-direction: column;
}

.galleryWorking {
  margin-bottom: 20px;
  background-color: rgb(243, 247, 224);
}

.tabs-buttons-container-working {
  display: flex;
  padding: 1rem;
}

.tabs-buttons-container-working button {
  flex: 1;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(3, 75, 184);
}

.tabs-buttons-container button:nth-child(odd) {
  border-right: none;
}

.masonry-container {
  width: 100%;
  margin: auto;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
  display: flex;
}

p {
  text-align: center;
  padding: 4px;
  font-family: monospace;
  background: #222;
  color: #efefef;
}

.galleryWorking {
  column-count: 3;
  -moz-column-count: 3;
  column-width: 33%;
  -moz-column-width: 33%;
  padding: 0 12px;
  -webkit-column-count: 3;
  -webkit-column-width: 33%;
}

.galleryWorking .pics {
  -webkit-transition: all 350ms ease;
  -moz-transition: all 350ms ease;
  transition: all 350ms ease;
  cursor: pointer;
  margin-bottom: 12px;
}

.galleryWorking .pics:hover {
  filter: opacity(0.8);
}

@media (max-width: 991px) {
  .galleryWorking {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
  }
}

@media (max-width: 480px) {
  .galleryWorking {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
  }
}

/*modal */

.model {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #011615;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  transform: 0.5s ease-in-out;
  visibility: hidden;
  opacity: 0;
  transform: scale(0);
  overflow: hidden;
  z-index: 999;
}

.model.open {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  z-index: 1040;
}

.model img {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 20px 0 20px;
  margin: 0 auto;
}

.model.open svg {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 2rem;
  height: 2rem;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  cursor: pointer;
}
