.container {
  max-height: 100vh;
}

.tabs-buttons-container {
  display: flex;
  padding: 1rem;
}

.tabs-buttons-container button {
  flex: 1;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
}

.tabs-buttons-container button:nth-child(odd) {
  border-right: none;
}
