.overlay {
  color: rgb(255, 255, 255);
  position: absolute;
  z-index: 12;
  top: 70%;
  left: 0;
  width: 100%;
  text-align: center;
  animation: fadeinout 5s infinite;
}

/* @-webkit-keyframes fadeinout {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
} */

@keyframes fadeinout {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  #overlay {
    display: none;
  }
}
